<footer class="footer">
    <section class="container__footer">

        <div class="content__footer">
            <div class="social__footer">
                <a href="https://www.facebook.com">Facebook</a>
                <a href="https://www.instagram.com">Instagram</a>
                <a href="https://www.google.com/intl/es-419/gmail/about/">Correo</a>
                <a href="https://web.whatsapp.com">WhatsApp</a>
                <a href="https://twitter.com/?lang=es">Twitter</a>
            </div>
            <div class="border__footer"></div>
            <div class="menu">
                <a href="index.php" class="footer__1"> Sistema de Control de Citas </a>
                <a href="toConfirm.php" class="footer__1"> Citas por Confirmar </a>
                <a href="attendedCitation.php" class="footer__3">Citas Atendidas</a>
                <a href="registeredUser.php" class="footer__2"> Usuarios Registrados </a>
            </div>
        </div>

        <p class="footer__info">Todos los derechos reservados 2023 © Alejandro Urdaneta y Veronica Trias</p>
    </section>
</footer>