<header>
    <a href="index.php" class="title">
        <h1>Administrador</h1>
    </a>

    <nav>
        <ul class="list__menu">
            <li class="item__menu">
                <a href="index.php">
                    <div class="border__nav-header"></div>Sistema de Control de Citas<i class="icon-paste"></i>
                </a>
            </li>
            <li class="item__menu"><a href="pacientes.php">
                <div class="border__nav-header"></div>Pacientes Registrados<i class="icon-address-book"></i>
                </a>
            </li>
            <li class="item__menu"><a href="citasatendidas.php">
                <div class="border__nav-header"></div>Citas Atendidas<i class="icon-folder"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="buttons">
        <a href="../client/cerrarSesion.php"><button class="login">Cerrar Sesión</button></a>
    </div>
</header>