@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cxelb5');
  src:  url('fonts/icomoon.eot?cxelb5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cxelb5') format('truetype'),
    url('fonts/icomoon.woff?cxelb5') format('woff'),
    url('fonts/icomoon.svg?cxelb5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer1:before {
  content: "\e903";
}
.icon-user-times:before {
  content: "\e907";
}
.icon-toggle-on:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e904";
}
.icon-twitter1:before {
  content: "\e904";
}
.icon-arrow_forward_ios:before {
  content: "\e900";
}
.icon-arrow-right-outline:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark1:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
