@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zbhkre');
  src:  url('fonts/icomoon.eot?zbhkre#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zbhkre') format('truetype'),
    url('fonts/icomoon.woff?zbhkre') format('woff'),
    url('fonts/icomoon.svg?zbhkre#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blocked:before {
  content: "\e908";
}
.icon-denied:before {
  content: "\e908";
}
.icon-forbidden:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark1:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-printer1:before {
  content: "\e903";
}
.icon-user-times:before {
  content: "\e907";
}
.icon-toggle-on:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e904";
}
.icon-twitter1:before {
  content: "\e904";
}
.icon-arrow_forward_ios:before {
  content: "\e900";
}
.icon-arrow-right-outline:before {
  content: "\e901";
}
