.footer {
  padding: 5%;
  color: aliceblue;
  background: #3e3d3d;
  position: relative;
  top: 50px;
}

.content__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social__footer>a:hover {
  color: #61bddc
}

footer a {
  text-decoration: none;
  color: #FFFFE8;
}

footer a:hover {
  color: #61bddc
}

.footer__info {
  margin: 5% 0 3% 0;
  text-align: center;
}