html,
body {
    /* background: linear-gradient(70deg, #9fe3ec, #e0dada); */
    background: linear-gradient(30deg, #789DC9, #EAEDF3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dia {
    text-align: center;
    font-family: 'Lobster' !important;
    font-size: 34px;
}

/* TABLAS CON LA INFORMACIÓN */

.tables{
    display: flex;
    /* box-shadow: 0 0 10px 1px #333; */
    margin: 3%;

}

.table{
    width: 50%;
    /* background-color: #333; */
    border: solid #333 3px;
    border-radius: 5px;
    /* justify-content: center;
    margin: 3% auto;
    border-radius: 10px; */
}

.basicInformation{
    margin-right: 1%;
}

.contactInformation{
    margin-left: 1%;
}

.tableAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.accountInformation{
    width: 70%;
}

.thead .row{
    display: flex;
    padding: 40px 40px 60px 40px;
    font-size: 25px;
    font-weight: bold;
    /* border: solid blue 1px; */
}


.thead .row .column{
    /* border: solid red 1px; */
    width: 60%;
}

.buttonEditable, .buttonEditable2{
    width: 40%;
    float: right;
    /* border: solid green 1px; */
    font-size: 18px;
    display: flex;
    justify-content: right;
}

.hide{
    display: none;
}

.tbody .row{
    display: flex;
    padding: 25px 40px 20px 40px;
    /* border: solid green 1px; */
}

.tbody .b{
    border-bottom: solid #6E6E6E 1px;
}

.tbody .column{
    width: 50%;
    height: 30px;
    font-size: 20px;
    /* border: solid tomato 1px; */
}

/* INPUT PARA EDITAR */

.inputEditable input{
    /* width: 55%; */
    background: transparent;
    border: none;
    outline: none;
    border-bottom: solid #333 1px;
    font-size: 20px;
}

#inputEditable1 input, #inputEditable2 input{
    width: 55%;
}

#inputEditable3 input{
    width: 100%;
}