<header>
    <nav>
        <ul class="list__menu">
            <li class="item__menu">
                </div><a href="#menu">
                    <div class="border__nav-header"></div>Inicio <i class="icon-home"></i>
                </a>
            </li>
            <li class="item__menu"><a href="#about">
                    <div class="border__nav-header"></div>Acerca de <i class="icon-user"></i>
                </a>
            </li>
            <li class="item__menu"><a href="#contact">
                    <div class="border__nav-header"></div>Contáctanos <i class="icon-phone"></i>
                </a>
            </li>
        </ul>
    </nav>

    <a href="index.php" class="title">
        <h1> Consultorio Marisol Díaz </h1>
    </a>

    <a href="parts/login.php"><button class="login">Iniciar Sesión</button></a>
</header>
<div class="header__container-img"><img src="img/consultorio riccio.jpg" alt="consultio de riccio" class="img"></div>

<!-- menu responsive telefono -->

<nav class="menu__responsive-phone">
    <a href="#menu" class="item__menu-responsive"><i class="icon-home" title="menu"></i></a>
    <a href="#about" class="item__menu-responsive"><i class="icon-user" title="acerca de"></i></a>
    <a href="#contact" class="item__menu-responsive"><i class="icon-phone" title="contactanos"></i></a>
</nav>