<header>
  <nav>
    <ul class="list__menu">
      <li class="item__menu">
        </div><a href="#menu">
          <div class="border__nav-header"></div>Inicio <i class="icon-home"></i>
        </a></li>
      <li class="item__menu"><a href="#acercade">
          <div class="border__nav-header"></div>Acerca de <i class="icon-user"></i>
        </a></li>
      <li class="item__menu"><a href="#contactanos">
          <div class="border__nav-header"></div>Contáctanos <i class="icon-phone"></i>
        </a></li>
    </ul>
  </nav>

  <a href="index.php" class="title">
    <h1> Consultorio Riccio </h1>
  </a>

  <div class="buttons">
    <a href="parts/login.html"><button class="login"> Iniciar Sesión </button></a>
    <a href="parts/registrarse.php"><button class="registro"> Registrarse </button></a>
  </div>
</header>