.buscador{
    display: flex;
    justify-content: right;
}

.buscador form{
    /* width: 560px; */
    display: flex;
    padding: 20px 20px 15px 20px;
    /* border: solid red 1px; */
}

.buscador form .inputs{
    /* width: 560px; */
    display: flex;
    /* border: solid blue 1px; */

}

/* .buscador form div{
    display: flex;
} */

.buscador form input{
    width: 130px;
    height: 30px;
    border: solid black 1px;
}

.buscador form .boton_buscar input{
    width: 60px;
    border: 1px solid rgb(230, 127, 79);
    background: rgb(230, 127, 79);
}
