.messagge__clear {
    position: absolute;
    top: 0;
    left: auto;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border-bottom: 6%;
    border: solid 1px #432534;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}