/* BOTONES */

a{
    text-decoration: none;
}
  
.attend, .cancel, .process, .update, .delete, .print{
    background: transparent;
    cursor: pointer;
    cursor: hand;
    border: none;
    border-radius: 2px;
}
  
.attend i, .cancel i, .process i, .update i, .delete i, .print i{
    padding: 2px;
    color: #333;
}
  
.attend i, .process i{
    font-size: 150%;
}
  
.cancel i, .update i, .delete i, .print i{
    font-size: 130%;
}
  
.attend i:hover{
    color: #00ff00;
}
  
.process i:hover, .update i:hover{
    color: #0000ff;
}
  
.cancel i:hover, .delete i:hover{
    color: #ff0000;
}
  
.print i:hover{
    color: #E67F4F;
}

.printReport{
    margin-right: 35px;
}

.printReport i{
    font-size: 190%;
}