/* BOTONES */

.icons__modals{
    display: flex;
}

a{
    text-decoration: none;
}

.active{
    transform: scaleX(-1);
}
  
.attend, .cancel, .process, .update, .delete, .print, .inactive, .active, .noUser, .block{
    background: transparent;
    cursor: pointer;
    cursor: hand;
    border: none;
    border-radius: 2px;
}
  
.attend i, .cancel i, .process i, .update i, .delete i, .print i, .inactive i, .active i, .noUser i, .block i{
    padding: 2px;
    color: #333;
}
  
.attend i, .process i{
    font-size: 150%;
}
  
.cancel i, .update i, .delete i, .print i, .inactive i, .active i, .noUser i, .block i{
    font-size: 130%;
}
  
.attend i:hover{
    color: #00ff00;
}
  
.process i:hover, .update i:hover{
    color: #0000ff;
}
  
.cancel i:hover, .delete i:hover, .block i:hover{
    color: #ff0000;
}
  
.print i:hover{
    color: #E67F4F;
}

.printReport, .blockDate{
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 30px;
}

.printReport i, .blockDate i{
    font-size: 180%;
}