html,
body {
  /* background: linear-gradient(45deg, #789dc9, #EAEDF3); */
  background-color: #789cc981;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

.dia {
  text-align: center;
  font-family: 'Lobster' !important;
  font-size: 34px;
}

.confirmar {
  position: relative;
  left: 44%;
  margin: 2% 0 1%;
  background: linear-gradient(70deg, #789dc9, #EAEDF3);
  border: 1px solid #333;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.nom {
  text-transform: capitalize;
}

.space {
  height: 225px;
}

.nombre_paciente {
  color: #E67F4F;
}