html,
body {
  /* background: linear-gradient(45deg, #789dc9, #EAEDF3); */
  background-color: #789cc981;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

.dia {
  text-align: center;
  font-family: 'Lobster' !important;
  font-size: 34px;
}

table {
  width: 95%;
  margin: 3% auto 7%;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 10px 1px #333;
}

.confirmar {
  position: relative;
  left: 44%;
  margin: 2% 0 1%;
  background: linear-gradient(70deg, #789dc9, #EAEDF3);
  border: 1px solid #333;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.nom {
  text-transform: capitalize;
}

.space {
  height: 225px;
}

.nombre_paciente {
  color: #E67F4F;
}

@media only screen and (max-width: 800px){
  
}