/* SEGUNDO MENÚ */

.header {
  background-color: #33548A;
  box-shadow: 0px 0px 6px rgb(78 78 78);
  height: 40px;
  padding-bottom: 5px;
}

.menu2 {
  display: flex;
}

/* NOMBRE DE USUARIO */

.nameUser {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  /* border: solid green 1px; */
}

.nameUser a {
  text-decoration: none;
  color: #E67F4F;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
  font-weight: bold;
  /* border: solid green 1px; */
}

/* BUSCADORES */

.buscadores {
  display: flex;
  width: 50%;
  color: #EAEDF3;
  /* border: solid orange 1px; */
}

.buscadorFechas,
.buscadorPacientes {
  width: 50%;
}

.inputs {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px
  /* border: solid blue 1px; */
}

.inputRecibe input {
  width: 130px;
}

.botonBuscar {
  box-sizing: content-box;
  background-color: #E67F4F;
  border: none;
  height: 20px;
  padding: 3px 5px 0px;
}

