/* FORMULADO // MODAL */

.disable{
    display: none;
}

.modal{
    position: fixed;
    z-index: 20;
    top: 0;
    background: linear-gradient(45deg, #EAEDF377, #33548A77);
    width: 100vw;
    height: 100vh;
}

.flex-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.form-login{
    max-height: 700px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 20px;
    min-width: 35%;
    min-height: 50%;
    background: #3e3d3d;
    color: #EAEDF3;
    border: 1px solid #333;
    border-radius: 5%;
    transition: 1s;
}

.form-login::-webkit-scrollbar {
    display: none;
}

.form-login:hover{
    border: 1px solid #789dc9;
}

.header__form>.icon-cross{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
    cursor: pointer;
    transition: all .4s ease;
}

.header__form>.icon-cross:hover{
    color: #33548A;
}
.form-login>input{
    color: #EAEDF3;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #789dc9;
    transition: .4s;
}

.form-login>input:focus{
    font-size: 1.05em;
    border-bottom: 1px solid #33548A;
}

.buttons__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333;
}

.button__form{
    margin: 10px;
    width: 40%; 
    background-color: #789dc9;
    height: 2em;
    border: 1px solid #333;
    border-radius: 5%;
    cursor: pointer;
    transition: .6s;
}

.buttons__form>input:hover{
    background: #33548A;
}

.button__form>a{
    text-decoration: none;
    color: #333;
}

select {
    height: 30px;
    color: #333;
    background-color: #789dc9;
    outline: none;
}

p{
    text-align: center;
  }
  
  p a{
    text-decoration: none;
    color: #E67F4F;
  }