/* MODAL */

.buttons__modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.insertar {
    background: linear-gradient(45deg, #EAEDF3, #33548A);
    border-radius: 4%;
    box-shadow: 0 0 5px .1px #777;
    cursor: pointer;
}

.modal{
    position: fixed;
    z-index: 10;
    top: 0;
    /* background: linear-gradient(45deg, #EAEDF377, #33548A77); */
    background: #66666677;
    width: 100vw;
    height: 100vh;
}

.flex-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.form-login{
    max-height: 75%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 30px;
    min-width: 35%;
    min-height: 50%;
    background: #333;
    color: #EAEDF3;
    border: 1px solid #242424;
    border-radius: 5%;
    transition: 1s;
}

.form-login::-webkit-scrollbar {
    display: none;
}

.form-login:hover{
    border: 1px solid #789DC9;
}

.header__form > .icon-cross{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
    cursor: pointer;
    color: #EAEDF3;
    transition: all .4s ease;
}

.header__form>.icon-cross:hover{
    color: #E67F4FAA;
}

.input__form{
    color: #EAEDF3;
    background: transparent !important;
    outline: none;
    border: none;
    border-bottom: 1px solid #789DC9;
    transition: .4s;
}

.input__form:focus{
    font-size: 1.05em;
    border-bottom: 1px solid #33548A;
}

.buttons__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333;
}

.button__form{
    margin: 10px;
    width: 40%; 
    background-color: #789dc9;
    height: 2em;
    border: 1px solid #333;
    border-radius: 5%;
    cursor: pointer;
    transition: .6s;
}

.buttons__form>input:hover{
    background: #33548A;
}

.button__form>a{
    text-decoration: none;
    color: #333;
}

select {
    height: 30px;
    color: #333;
    background-color: #789dc9;
    outline: none;
}

#filter2 {
    position: relative;
    top: 20px;
    margin-bottom: 15px;
}

p{
    text-align: center;
}
 
p a{
    text-decoration: none;
    color: #E67F4F;
}

/* EFECTO DE LOS INPUTS */

.display{
    display: none;
}
  
.base{
    border-bottom: 1px solid #333;
}
  
.error{
    border-bottom: 1px solid #ea4848;
}
  
.paragraf__error{
    color: #ea4848;
    padding: 1px 0;
    margin: 0 15px 20px;
    font-size: 0.85em;
}

/* Iconos */

/* .form-login .icon-cross{
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    color: #333;
} */

.modal .icon-cross{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    margin: 25px;
    color: #333;
    color: #EAEDF3;
}
  
.icon-warning{
    color: #ea4848;
    padding: 0 2%;
}
  
.confirm{
    color: #00a92d;
    padding: 0 2%;
}

.searchPatient {
    gap: 20px;
}



option {
    color: #333;
}