/* BUSCADOR PARA TABLAS */

.searchTable{
    display: flex;
    align-items: center;
    margin: 3%;
}

.searchTable .receive{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 4%;
}

.receive label{
    font-size: 20px;
}

.receive input{
    height: 25px;
    background: #EAEDF3;
    border: none;
}

.searchTable .show{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 4%;
}

/* PAGINACIÓN */

.pagination{
    display: flex;
    justify-content: right;
}

.pagination .quantityDisplayed, .pagination .navPagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.navPagination ul{
    padding: 0;
}

.navPagination li{
    display: inline;
    margin: 1px;
    padding: 10px;
    border: solid #333 1px;
}

.navPagination a{
    color: #333;
}

.navPagination .paginaActiva{
    background-color: #33548A;
}

.paginaActiva a{
    color: #f0f8ff;
}

.pagination a{
    text-decoration: none;
}

/* INPUT BLOQUEAR FECHA */

.blockDateForm{
    display: flex;
    justify-content: center;
}

.blockDateForm .inputs{
    display: flex;
    align-items: center;
}

.blockDateForm .button__date{
    height: 20px;
    box-sizing: content-box;
    background-color: #789DC9;
    background-color: transparent;
    border: none;
    padding: 3px 5px 0px;
    cursor: pointer;
    cursor: hand;
  }