table{
    margin-top: 40px;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding: 10px;
    border: solid #789dc9 2px;

}

thead{
    background: #3e3d3d;
    height: 50px;
    max-height: 50px;
    color: aliceblue;
} 