<header>
    <a href="index.php" class="title"><h2>Paciente</h2></a>

    <nav>
        <ul class="list__menu">
            <li class="item__menu">
                <a href="index.php">
                    <div class="border__nav-header"></div>Historial de Citas<i class="icon-paste icon"></i>
                </a>
            </li>
            <li class="item__menu">
                <a href="perfilPaciente.php">
                    <div class="border__nav-header"></div>Perfil<i class="icon-folder icon"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="buttons">
        <a href="../client/botones/logout.php"><button class="login">Cerrar Sesión</button></a>
    </div>
</header>