html,
body {
  box-sizing: border-box;
  background: linear-gradient(45deg, #789dc9, #EAEDF3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.flex__about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.text, .direccion{
  width: 35%;
  height: 200px;
  padding: 15px;
  background: #ededed;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #333;
  margin: 10px;
  text-align: center;
}

.aside {
  width: 25%;
}

.address {
  height: 100%;
  width: 100%;
}

.contact__container {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  background-color: #28929d;
  opacity: 0.9;
  background-image: radial-gradient(#3e9fd6 1.2000000000000002px, #222 1.2000000000000002px);
  background-size: 24px 24px;
}

@media only screen and (max-width: 500px) {

  /* header */

  .flex__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .text, .direccion{
    width: 45%;
    height: 225px;
    background: #ededed;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #333;
    margin: 10px;
    text-align: left;
  }

  .text__about {
    height: 375px;
  }

  .aside ul {
    padding-left: 5px;
  }
  
  .address {
    height: 90%;
    width: 90%;
    margin: auto;
  }
  
  .contact__container {
    height: 425px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: #28929d;
    opacity: 0.9;
    background-image: radial-gradient(#3e9fd6 1.2000000000000002px, #222 1.2000000000000002px);
    background-size: 24px 24px;
  }

}