.alerta {
  display: flex;
  justify-content: center;
  /* font-size: 10px; */
  color: red;
}

.mensaje {
  display: flex;
  justify-content: center;
  color: blue;
}

.mensaje a {
  text-decoration: none;
  color: blue;
}

.invalido {
  margin: 5% 0;
  align-self: center;
  width: 65%;
  padding: 5px;
  font-size: 1.25em;
  border: none;
  color: #333;
  border-radius: 2%;
  box-shadow: 0 0 10px 1px #333;
  background-color: #999;
  cursor: not-allowed;
}

.messagge {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  top: 30px;
  width: 30%;
  left: 35%;
  padding: 15px 20px 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2%;
  gap: 30px;
}

.messagge__success {
  border: 1px solid #0d750d;
  background: #9dfa9d;
  color: #0d750d;
}

.messagge__error {
  border: 1px solid #aa0000;
  background: #ff5050;
  color: #aa0000;
}

.messagge__info {
  border: 1px solid #004bee;
  background: #649ee0;
  color: #004bee;
}


.messagge__icon {
  cursor: pointer;
}