.alerta, .alerta a{
  display: flex;
  justify-content: center;
  /* font-size: 10px; */
  color: red;
}

.mensaje {
  display: flex;
  justify-content: center;
  color: blue;
}

.mensaje a {
  text-decoration: none;
  color: blue;
}

.invalido {
  margin: 5% 0;
  align-self: center;
  width: 65%;
  padding: 5px;
  font-size: 1.25em;
  border: none;
  color: #333;
  border-radius: 2%;
  box-shadow: 0 0 10px 1px #333;
  background-color: #999;
  cursor: not-allowed;
}

.messagge {
  box-sizing: border-box;
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 30%;
  padding: 20px 20px 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2%;
}

.messagge__success {
  border: 1px solid #0d750d;
  background: #96fc96be;
  color: #0d750d;
  font-weight: bold;
}

.messagge__error {
  border: 1px solid #aa0000;
  background: #da4c4cd2;
  color: #aa0000;
  font-weight: bold;
}

.messagge__icon {
  cursor: pointer;
}